<h1>Listing notes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Bike</th>
    <th>Title</th>
    <th>Details</th>
    <th>Last update</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= link_to note.user.name, note.user %></td>
    <td><%= link_to note.bike.sticker_id, note.bike %></td>
    <td><%= note.title %></td>
    <td><%= note.details %></td>
    <td><%= note.last_update %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
