<%= form_for(@safety_item_response) do |f| %>
  <% if @safety_item_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safety_item_response.errors.count, "error") %> prohibited this safety_item_response from being saved:</h2>

      <ul>
      <% @safety_item_response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :safety_inspection_id %><br />
    <%= f.number_field :safety_inspection_id %>
  </div>
  <div class="field">
    <%= f.label :safety_item_id %><br />
    <%= f.number_field :safety_item_id %>
  </div>
  <div class="field">
    <%= f.label :is_checked %><br />
    <%= f.check_box :is_checked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
