<%= form_for(@safety_inspection) do |f| %>
  <% if @safety_inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safety_inspection.errors.count, "error") %> prohibited this safety_inspection from being saved:</h2>

      <ul>
      <% @safety_inspection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Bike ID: <%= link_to @safety_inspection.bike.sticker_id, @safety_inspection.bike %>
		<%= f.hidden_field :bike_id %>
  </div>
  <div class="field">
    Inspector: <%= link_to @safety_inspection.inspector.name, @safety_inspection.inspector %>
  </div>
  <div class="field">
    <%= f.label :inspection_date %><br />
    <%= f.date_select :inspection_date, :order => [:month, :day, :year] %>
  </div>
	
	<%= f.fields_for :safety_item_responses do |b| %>
	  <div class="field">
    <%= b.check_box :is_checked %> <%= b.object.safety_item.name %> 
		<%= b.hidden_field :safety_item_id %>
  	</div>
	<% end %>
	
  <div class="actions">
    <%= f.submit "Submit Inspection" %>
  </div>
<% end %>
