<h1>All Safety Inspections</h1>

<table>
  <tr>
    <th>Bike</th>
    <th>Inspector</th>
    <th>Inspection date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @safety_inspections.each do |safety_inspection| %>
  <tr>
    <td><%= link_to safety_inspection.bike_id, safety_inspection.bike %></td>
    <td><%= link_to safety_inspection.inspector.name, safety_inspection.inspector %></td>
    <td><%= safety_inspection.inspection_date %></td>
    <td><%= link_to 'Show', safety_inspection %></td>
    <td><%= link_to 'Edit', edit_safety_inspection_path(safety_inspection) %></td>
    <td><%= link_to 'Destroy', safety_inspection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
