<p id="notice"><%= notice %></p>

<p>
  <b>Bike:</b>
  <%= @safety_inspection.bike_id %>
</p>

<p>
  <b>Inspector:</b>
  <%= @safety_inspection.inspector_id %>
</p>

<p>
  <b>Inspection date:</b>
  <%= @safety_inspection.inspection_date %>
</p>


<%= link_to 'Edit', edit_safety_inspection_path(@safety_inspection) %> |
<%= link_to 'Back', safety_inspections_path %>
