

<h1>Safety Inspection</h1>

<p>
  <b>Bike ID:</b>
  <%= link_to @safety_inspection.bike.bike_id, @safety_inspection.bike %>
</p>

<p>
  <b>Inspector:</b>
  <%= link_to @safety_inspection.inspector.name, @safety_inspection.inspector %>
</p>

<p>
  <b>Inspection date:</b>
  <%= @safety_inspection.inspection_date.localtime.strftime("%a, %-m/%-e/%Y") %>
</p>

<table>
	<tr>
		<th>Status</th>
		<th>Item</th>
	</tr>
	<% @safety_item_responses.each do |safety_item_response| %>
	<tr>
		<td>
			<% if safety_item_response.is_checked? %>
			<span class="passed">&#10004;</span>
			<% else %>
			<span class="failed">X</span>
			<% end %>
		</td>
		<td>
			<% if safety_item_response.is_checked? %>
			<span class="passed">
			<% else %>
			<span class="failed">
			<% end %>
			<%= safety_item_response.safety_item.name %>
			</span>
		</td>
	</tr>
	<% end %>
</table>

<br/>
<%= link_to 'Back to Bike', bike_path(@safety_inspection.bike) %>
