<table class="favorites_table">
	<tr>
		<th>Bike</th>
		<th>Location</th>
		<th>Brand</th>
		<th>Model</th>
		<th>Color</th>
		<th id="hide"></th>
	</tr>

	<% if @favs.empty? %>
	<tr><td colspan="8" align="center">No favorites!</td></tr>
	<% else %>
	<% @favs.each do |favorite| %>
	<tr>
		<% bike = favorite.bike %>
		<% loc = bike.location %>

		<td align="center"><%= link_to bike.bike_id, bike %></td>
		<td>
			<%if loc.nil? %>
			N.A.
			<%else%>
			<%if loc.hook_number.nil? %>
			<%=loc.name%>
			<%else%>
			HookID - <%= loc.hook_number %>
			<%end%>		
			<%end%></td>
			<td><%= bike.brand.name %></td>
			<td><%= bike.model.name %></td>
			<td><%= bike.color %></td>
			<td><%= link_to 'Remove', favorite, confirm: 'Are you sure?', method: :delete %>&nbsp;&nbsp;&nbsp;
				<% proj = bike.eab_project %>
				<% if !proj.nil? %>
				<% if proj.user_id==current_user.id %>
				<span id="favpage"><%= link_to "My Current Project", proj %></span>
				<%else%>
				<i>Project claimed by <%= proj.user.name %></i>
				<%end%>
				<%end%>

			</td>
		</tr>
		<% end %>
		<% end %>
	</table>