<script>
function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
	return false;

 return true;
}
</script> 
<center>
<h1>Search Bikes</h1>
<div name="searchFromDiv">
<form name="searchForm" action = "/bikes" method = "get">
<input type="text" name="searchText" id="txtfld" placeholder="Bike ID/Hook No." onkeypress="return isNumberKey(event)"/>
<input type="submit" value="Go">
<br/>
<br/>
</div>
</form>

<table id="criteria" border="4">
	<tr>
	<td>
		<table>
		<tr>
		<th>Brand</th>
		</tr>
		<% for i in Bike.select("distinct brand_id").limit(8).map {|a| a.brand_id} 
		brand = BikeBrand.find_by_id(i)
		%>
		<tr><td>
		<a href="/bikes?brand=<%=i%>">
		<%= brand.name %>
		</td></tr>
		</a>
		<% end %>
		</table>	
	</td>
	<td>
		<table>
		<tr>
		<th>Color</th>
		</tr>	
		<% for i in Bike.select("distinct color").limit(8).map {|a| a.color}%>
		<tr><td><a href="/bikes?color=<%=i%>">
		<%=i%></a>
		</td></tr>
		<% end %>		
		</table>
	</td>	
	<td>
		<table>
		<tr>
		<th>Status</th>
		</tr>		
		
		<tr><td><a href="/bikes?status=Available">Available</a></td></tr>
		<tr><td><a href="/bikes?status=EAB in Progress">EAB in Progress</a></td></tr>
		<tr><td><a href="/bikes?status=FFS in Progress">FFS in Progress</a></td></tr>
		<tr><td><a href="/bikes?status=In Shop">In Shop</a></td></tr>
		<tr><td><a href="/bikes?status=Youth">Youth</a></td></tr>
		<tr><td><a href="/bikes?status=Sold">Sold</a></td></tr>
		<tr><td><a href="/bikes?status=Departed">Departed</a></td></tr>
		<tr><td><a href="/bikes?status=Other">Other</a></td></tr>
		
		</table>
	</td>		
	
	
	<td>
		<table>
		<tr>
		<th>Wheel</th>
		</tr>
		<% for i in Bike.select("distinct wheel_size").limit(8).map {|a| a.wheel_size} %>
		<tr><td><a href="/bikes?wheel_size=<%=i%>">
		<%= i%></a>
		</td></tr>
		<% end %>		
		</table>
	
	
	</td>
	<td>
		<table>
		<tr>
		<th>Top Tube</th>
		</tr>
		<% for i in Bike.select("distinct top_tube").limit(8).map {|a| a.top_tube} %>
		<tr><td><a href="/bikes?top_tube=<%=i%>">
		<%= i%></a>
		</td></tr>
		<% end %>		
		</table>
	</td>	
	<td>
		<table>
		<tr>
		<th>Seat Tube</th>
		</tr>
		<% for i in Bike.select("distinct seat_tube").limit(8).map {|a| a.seat_tube} %>
		<tr><td><a href="/bikes?seat_tube=<%=i%>">
		<%= i%></a>
		</td></tr>
		<% end %>		
		</table>
	</td>		
	</tr>



</table>
</center>