<h1>Administrative Items</h1>

<h2>Bikes</h2>
<h3>&rarr; <%= link_to "Bike Brands", bike_brands_path %></h3>

<h3>&rarr; <%= link_to "Bike Models", bike_models_path %></h3>

<h3>&rarr; <%= link_to "All Notes", notes_path %></h3>

<h3>&rarr; <%= link_to "Locations", locations_path %></h3>	

<h2>Safety Inspections</h2>
<h3>&rarr; <%= link_to "Safety Items", safety_items_path %></h3>
