<%= form_for(@eab_project) do |f| %>
  <% if @eab_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eab_project.errors.count, "error") %> prohibited this eab_project from being saved:</h2>

      <ul>
      <% @eab_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :bike_id %>ID : <%=@eab_project.bike.sticker_id%><br />
    <input type="hidden" name="eab_project[bike_id]" value="<%=@eab_project.bike_id%>"/>
	
  </div>
  <div class="field">
    <%= f.label :user_id %>: <%=@eab_project.user.name%><br />
    <input type="hidden" name="eab_project[user_id]" value="<%=@eab_project.user_id%>"/>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <select id="status" name="eab_project[status]">
	<% statusList = EabProject.statusList
	for i in statusList.keys%>
	<option value="<%=i%>" <%if i==@eab_project.status%>selected="selected"<%end%>><%=statusList[i]%></option>
	<%end%>
	</select>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
