<script>
function checkuser(){
	divError = document.getElementById('errormsg');
	elementUser = document.getElementById('user_id');
	while (divError.hasChildNodes()) {
		divError.removeChild(divError.lastChild);
	}
	if(elementUser.value == ""){
		return;
	}	
	
	<%nopacketlist = User.where(:has_read_packet => false)%>
	if(<%for i in nopacketlist %>elementUser.value=="<%=i.id%>" <%="||" unless i==nopacketlist.last%><%end%>){
		var newdiv = document.createElement('div');
		newdiv.innerHTML = " <br/><font color='red'><b>Member has not read packet. Proceed to create project?</b></font>";
		document.getElementById('errormsg').appendChild(newdiv);			
		return;
	}	

}
</script>
<h1>Start EAB Project</h1>
<%= form_for(@eab_project) do |f| %>
  <% if @eab_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eab_project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @eab_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table id="neweabtable">
	
	<%if @bikeID.nil?%>
		<p>Bike ID:
		<select ="bike_id" name="eab_project[bike_id]">
		<%for i in Bike.all%>
		<option value="<%=i.id%>"><%=i.bike_id%></option>
		<%end%>		
		</select>
		</p>
	<%else%>
		<%@bike = Bike.find_by_id(@bikeID)%>	
		<p>Bike ID: <font size="5"><b><%=@bike.bike_id%></b></font></p>
		<input id="bike_id" name="eab_project[bike_id]" size="10" type="hidden" value="<%=@bikeID%>"/>
	<%end%>
	
	<p>EAB earner name:
	<select id="user_id" name="eab_project[user_id]" onchange="checkuser()">
	<option value="">- Select -</option>
	<%for i in User.all%>
    <option value="<%=i.id%>"><%=i.name%></option>
	<%end%>
	</select></p>
	
	<p>Start date and time:<br/><%= f.datetime_select :start_date %></p>
	
</table>

<div id ="errormsg"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%if !@bikeID.nil?%>
<%= link_to 'Back', '/bikes/'+@bikeID.to_s() %>
<%end%>
