

<table id="project_table">
	<tr>
		<td>
			<h1 align="center">EAB Project</h1>
		</td>
		<td>
			<table id="info_table">
				<tr><td>
					<h3>Bike ID: <%= link_to @eab_project.bike.sticker_id, @eab_project.bike %></h3>
				</td></tr>
				<tr><td>
					<h3>Project Owner</h3>
					<b><%= link_to @eab_project.user.name, @eab_project.user %></b>
				</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table id="progress_table">
				<tr>
					<td><h2>1</h2></td>
					<td><h2 align="center">Complete<br/>Prerequisites</h2></td>
					<td class="checkmark">
						<% if @eab_project.prereqs_complete? %>
						&#10004;
						<% end %>
					</td>
				</tr>
				<tr>
					<td><h2>2</h2></td>
					<td><a href="<%= bike_path(@eab_project.bike) %>"><h2 align="center">Choose Bike</h2></a></td>
					<td class="checkmark">&#10004;</td>
				</tr>
				<tr>
					<td><h2>3</h2></td>
					<td><a href="<%= new_volunteer_hours_entry_path %>"><h2 align="center">Earn Volunteer<br/>Hours</h2></a></td>
					<td class="checkmark">
						<% if @eab_project.value_earned? %>
							&#10004;
						<% end %>
					</td>
				</tr>
				</tr>
				<tr>
					<td><h2>4</h2></td>
					<td>
						<% if !@eab_project.signed_off? %>
						<a href="<%= new_repair_hours_entry_path %>?eab=<%= @eab_project.id%>">
							<h2 align="center">Refurbish Bike</h2>
						</a>
						<% else %>
							<h2 align="center">Refurbish Bike</h2>
						<% end %>
					</td>
					<td class="checkmark">
						<% if @eab_project.safety_check_complete? %>
						&#10004;
						<% end %>
					</td>
				</tr>
				<tr>
					<td><h2>5</h2></td>
					<td>
						<% if current_user.is_staff? && !@eab_project.signed_off? %>
						<a href="<%= new_safety_inspection_path(:bike_id => @eab_project.bike) %>">
							<h2 align="center">Safety Check</h2>
						</a>
						<% else %>
							<h2 align="center">Safety Check</h2>						
						<% end %>
						</td>
					<td class="checkmark">
						<% if @eab_project.safety_check_complete? %>
						&#10004;
						<% end %>
					</td>
				</tr>
				<tr>
					<td><h2>6</h2></td>
					<td>
						<% if current_user.is_staff? && @eab_project.ready_to_sign_off? %>
						<a href="<%= @eab_project.id %>/sign_off" data-method="put" rel="nofollow">
							<h2 align="center">Sign Off</h2>
						</a>
						<% else %>
							<h2 align="center">Sign Off</h2>						
						<% end %>
					</td>
					<td class="checkmark">
						<% if @eab_project.signed_off? %>
						&#10004;
						<% end %>
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table id="stats_table">
					<tr>
					<td>
						<h2>Status</h2>
  					<h3><%= @eab_project.statusName %></h3>
					</td>
				</tr>
				<tr>
					<td>
						<h2>Project Value</h2>
						<h3><%= number_to_currency(@eab_project.value) %></h3>
					</td>
				</tr>
				<tr>
					<td>
						<h2>Total Hours Spent</h2>
						<h3><%= sprintf("%.1f", @total_hours_spent) %></h3>
					</td>
				</tr>
				<tr>
					<td>
						<h2>Last Active</h2>
						<h3><%= time_ago_in_words(@eab_project.last_active) %> ago</h3>
					</td>
				</tr>
				<tr>
					<td>
						<h2>Project Started</h2>
						<h3><%= time_ago_in_words(@eab_project.start_date) %> ago</h3>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table id="work_table">
				<tr>
					<td>
						<h2>Refurbishment Work</h2>
						<% unless @eab_project.signed_off? %>
						<p><a href="<%= new_repair_hours_entry_path %>?eab=<%= @eab_project.id%>">New Repair Hours Entry</a></p>
						<% end %>
					</td>
				</tr>
				<% if @eab_project.repair_hours_entries.empty? %>
					<tr><td><h3 style="margin:0;" align="center">None yet!</h3></td></tr>
				<% end %>
				<% @eab_project.repair_hours_entries.each do |entry| %>
				<tr>
					<td>
						&rarr; <%= link_to "#{entry.start_date} for #{entry.duration_text}", entry %>
					</td>
				</tr>
				<% end %>
			</table>
		</td>
	</tr>
		<tr>
		<td colspan="2">
			<table id="safety_table">
				<tr>
					<td>
						<h2>Safety Inspections</h2>
						<% if current_user.is_staff? && !@eab_project.signed_off? %>
						<p><%= link_to "New Safety Inspection", new_safety_inspection_path(:bike_id => @eab_project.bike) %></p>
						<% end %>
					</td>
				</tr>
				<% if @safety_inspections.empty? %>
					<tr><td><h3 style="margin:0;" align="center">None yet!</h3></td></tr>
				<% end %>
				<% @safety_inspections.each do |inspection| %>
				<tr>
					<td>
						&rarr; <%= link_to "#{inspection.result_text} - #{inspection.date_text}", inspection %>
					</td>
				</tr>
				<% end %>
			</table>
		</td>
	</tr>
</table>

<% if current_user.is_staff? %>
<%= link_to 'Edit', edit_eab_project_path(@eab_project) %> |
<% end %>
<%= link_to 'Back', myproj_path %>
