<h1 align="center">Browse Users</h1>
<form id="userSearchForm" name="userSearchForm" action="/users" method="get">
	<input id="userSearchTerm" type="text" name="q" placeholder="Search for a User"/>
	<input type="submit" value="Go"/>
</form>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
		<th>Phone number</th>
    <th>Account value</th>
    <th>Has read packet</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= number_to_phone(user.phone_number) %></td>
    <td><%= number_to_currency(user.account_value) %></td>
    <td><%= user.has_read_packet ? "Yes" : "No" %></td>
    <td><%= user.role %></td>
    <td><%= link_to 'View', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>