<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Encrypted password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Account value:</b>
  <%= @user.account_value %>
</p>

<p>
  <b>Has read packet:</b>
  <%= @user.has_read_packet %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
