<p id="notice"><%= notice %></p>


<table cellpadding="5">
	<tr>
		<td colspan="2" align="center">
			<h1><%= @user.name %></h1>
			<h3><%= mail_to @user.email %></h3>
			<p><b>Phone Number</b><br />
			<%= number_to_phone(@user.phone_number, :area_code => true) %><br />
			<b>Text messages?</b><br />
			<%= @user.can_text_phone ? "Yes" : "No" %></p>
			<p><b>Address</b><br />
			<%= simple_format(@user.address, :class => 'address_display') %></p>
		</td>
	</tr>
	<tr>
		<td align="center" valign="top">
			<b>Has Read Packet</b><br />
			<%= @user.has_read_packet ? "Yes" : "No" %>
		</td>
		<td align="center" valign="top">
			<b>Account Value</b><br />
			<%= number_to_currency(@user.account_value) %>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<b>Role</b><br />
			<%= @user.role %>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<%= link_to 'Edit Information', edit_user_path(@user) %>
		</td>
	</tr>
</table>