

<table><tr><td>

	<table cellpadding="5">
		<tr>
			<td colspan="2" align="left">
				<h1><%= @user.name %></h1>
				<h3><%= mail_to @user.email %></h3>
				<p><b>Phone Number</b><br />
					<%= number_to_phone(@user.phone_number, :area_code => true) %><br />
					<b>Text messages?</b><br />
					<%= @user.can_text_phone ? "Yes" : "No" %></p>
					<p><b>Address</b><br />
						<%= simple_format(@user.address, :class => 'address_display') %></p>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						<b>Has Read Packet &amp;<br/>Met Prerequisites?</b><br />
						<%= @user.has_read_packet ? "Yes" : "No" %>
					</td>

				</tr>
				<tr>
					<td colspan="2" align="left">
						<b>User Type</b><br />
						<%= @user.role_text %>
					</td>
				</tr>
			</table>
		</td>

<!--For making some space-->
<td width="50px"></td>
<td valign="top">
	<table>
	<tr>
		<td><div style="margin:20px 0 50px 0; font-weight:bold;">
		<%= link_to '[Edit Account Information]', edit_user_path(@user) %></div>
		</td>
	</tr>
	</table>

	<h2 align="center" style="margin-bottom: 5px;">Recent Transactions</h2>
	<%= render 'transactions/transaction_table' %>
	<p align="center"><%= link_to "View All Transactions", alltransactions_path("user_id" => @user) %></p>
</td>
</tr>
<tr>
	<td colspan="3">
	<br/>
	<h2 align="center" style="margin-bottom: 5px;">Favorites List</h2>
  <%= render 'favorites/favorites'%>
	</td>
</tr>

</table>