<h1>Listing bike_models</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bike_models.each do |bike_model| %>
  <tr>
    <td><%= bike_model.brand_id %></td>
    <td><%= bike_model.name %></td>
    <td><%= link_to 'Show', bike_model %></td>
    <td><%= link_to 'Edit', edit_bike_model_path(bike_model) %></td>
    <td><%= link_to 'Destroy', bike_model, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bike model', new_bike_model_path %>
