<%= form_for(@bike) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :bike_id %><br />
    <%= f.number_field :bike_id %>
  </div>  
  <div class="field">
    <%= f.label :model_id %><br />
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :brand_id %><br />
    <%= f.number_field :brand_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :wheel_size %><br />
    <%= f.text_field :wheel_size %>
  </div>
  <div class="field">
    <%= f.label :top_tube %><br />
    <%= f.text_field :top_tube %>
  </div>
  <div class="field">
    <%= f.label :seat_tube %><br />
    <%= f.text_field :seat_tube %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :quality %><br />
    <%= f.text_field :quality %>
  </div>
  <div class="field">
    <%= f.label :condition %><br />
    <%= f.text_field :condition %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date_in %><br />
    <%= f.datetime_select :date_in %>
  </div>
  <div class="field">
    <%= f.label :date_out %><br />
    <%= f.datetime_select :date_out %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
