<h1>Browse Bikes <font size="1"><a href="/bikes">(show all)</a></font></h1>
<% if !@searchID.nil? %>
You searched for <%=@idtype%>: <b><%=@searchID%> </b><br/><br/>
<% end %>

<%= form_tag bikes_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p id="searchbox">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Bike ID", :name => nil %>
  </p>
<% end %>


<table class="bikelisttable">
  <tr>
		<th><%= sortable "bike_id" %></th>
    <th><%= sortable "brand_id"%></th>		
    <th><%= sortable "model_id" %></th>
    <th><%= sortable "location_id" %></th>
    <th><%= sortable "wheel_size"%></th>
    <th><%= sortable "top_tube" %></th>
    <th><%= sortable "seat_tube" %></th>
    <th><%= sortable "color"%></th>
    <th><%= sortable "date_in", "Date In"%></th>
    <th><%= sortable "status", "Status"%></th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bikes.each do |bike| %>
<% @loc = Location.find_by_id(bike.location_id)%>
  <tr>
		<td><%= bike.bike_id %></td>
    <td><%= BikeBrand.find_by_id(bike.brand_id).name%></td>
	<td><%= BikeModel.find_by_id(bike.model_id).name %></td>
    <td><%if @loc.nil?%>
			N.A.
		<%else%>
			<%if @loc.hook_number.nil?%>
				<%=@loc.name%>
			<%else%>
				HookID - <%=@loc.hook_number%>
			<%end%>
		<%end%>			
	</td>
    <td><%= bike.wheel_size %></td>
    <td><%= bike.top_tube %></td>
    <td><%= bike.seat_tube %></td>
    <td><%= bike.color %></td>
    <td><%= bike.date_in.year %>-<%= bike.date_in.strftime("%b")%>-<%=bike.date_in.day %></td>
    <td><%= bike.status %></td>
    <td><%= link_to 'Show', bike %></td>
    <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
    <td><%= link_to 'Destroy', bike, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br/>

<%= will_paginate @bikes %>


<br />

<%= link_to 'New Bike', new_bike_path %>
