<style>
#bikelisttable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

#bikelisttable th .asc {
	background-color: yellow;
	background: url(/images/uparrow.JPG) no-repeat right;
}

#bikelisttable th .desc {
	background-color: yellow;
	background: url(/images/downarrow.JPG) no-repeat right;	
}

#bikelisttable  {
	width: 100%;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
}

#bikelisttable thead th {
	
	font-size: 13px;
	height: 30px;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
}
#bikelisttable tbody tr {
	background: url(/images/bg_td1.jpg) repeat-x top;
}
#bikelisttable tbody tr.odd {
	background: #FFF8E8 url(/images/bg_td2.jpg) repeat-x;
}

#bikelisttable tbody td {
	font-family: Arial, Helvetica, sans-serif;
	color: #565051;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}

</style>
<script>
function filter2 (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
	        var displayStyle = 'none';
	        for (var i = 0; i < words.length; i++) {
		    if (ele.toLowerCase().indexOf(words[i])>=0)
			displayStyle = '';
		    else {
			displayStyle = 'none';
			break;
		    }
	        }
		table.rows[r].style.display = displayStyle;
	}
}

function submitfilter(){
	document.getElementById('filtermenuform').submit();
}
</script>
<h2>Browse Bikes <font size="1"><a href="/bikes">(show all)</a></font></h2>
<% if !@searchID.nil? %>
You searched for No. <b><%=@searchID%> </b><br/><br/>
<% end %>

<%= form_tag bikes_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
<div align="right">
<p>
<form>
	<input name="filter" placeholder="Search Current Page" onkeyup="filter2(this, 'bikelisttable')" type="text">
</form>
</p> 
</div>
<% end %>
<table><tr><td id="filtersection"><form id="filtermenuform" name="filtermenu" action="/bikes">
<input type="hidden" name="filterSectionUsed" value="true"/>
<b>Brand</b><br/>
<select id="filtermenu" name="brandfilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct brand_id")%>
	<option value="<%=i.brand_id%>" <%if i.brand_id==@brandfilter || i.brand_id==@brand%>selected="selected"<%end%>>
	<%=BikeBrand.find_by_id(i.brand_id).name%></option>	
	<%end%></select>
	
<br/><br/><b>Wheel Size</b><br/>
<select id="filtermenu" name="wheelfilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct wheel_size")%>
	<option value="<%=i.wheel_size%>" <%if i.wheel_size==@wheelfilter || i.wheel_size==@wheel_size%>selected="selected"<%end%>><%=i.wheel_size%></option>	
	<%end%></select>
	
<br/><br/><b>Top tube</b><br/>
<select id="filtermenu" name="toptubefilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct top_tube")%>
	<option value="<%=i.top_tube%>" <%if i.top_tube==@toptubefilter || i.top_tube==@top_tube%>selected="selected"<%end%>><%=i.top_tube%></option>	
	<%end%></select>
	
<br/><br/><b>Seat Tube</b><br/>
<select id="filtermenu" name="seattubefilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct seat_tube")%>
	<option value="<%=i.seat_tube%>" <%if i.seat_tube==@seattubefilter || i.seat_tube==@seat_tube%>selected="selected"<%end%>><%=i.seat_tube%></option>	
	<%end%></select>
	
<br/><br/><b>Color</b><br/>
<select id="filtermenu" name="colorfilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct color")%>
	<option value="<%=i.color%>" <%if i.color==@colorfilter || i.color==@color%>selected="selected"<%end%>><%=i.color%></option>	
	<%end%></select>
	
<br/><br/><b>Status</b><br/>
<select id="filtermenu" name="statusfilter" onchange="submitfilter()">
	<option value="All">All</option>
	<%for i in Bike.select("distinct status")%>
	<option value="<%=i.status%>" <%if i.status==@statusfilter || i.status==@status%>selected="selected"<%end%>><%=i.status%></option>	
	<%end%></select>

</form>
</td>
<td class="aligntop"><table id="bikelisttable" class="filtertable">
  <thead><tr>
	<th><%= sortable "bike_id" %></th>
    <th><%= sortable "brand_id"%></th>		
    <th><%= sortable "model_id" %></th>
    <th><%= sortable "location_id" %></th>
    <th><%= sortable "wheel_size"%></th>
    <th><%= sortable "top_tube" %></th>
    <th><%= sortable "seat_tube" %></th>
    <th><%= sortable "color"%></th>
    <th><%= sortable "date_in", "Date In"%></th>
    <th><%= sortable "status", "Status"%></th>
	<th><a>View</a></th>
  </tr></thead><tbody>

<% @count = 0%>
<% @bikes.each do |bike| %>
<% @loc = Location.find_by_id(bike.location_id)%>

  <tr <% if @count % 2 ==0%>class="odd"<%end%> >
		<td><b><%= link_to bike.sticker_id, bike %></b></td>
    <td><%= BikeBrand.find_by_id(bike.brand_id).name%></td>
	<td><%= BikeModel.find_by_id(bike.model_id).name %></td>
    <td><%if @loc.nil?%>
			N.A.
		<%else%>
			<%if @loc.hook_number.nil?%>
				<%=@loc.name%>
			<%else%>
				HookID - <%=@loc.hook_number%>
			<%end%>
		<%end%>			
	</td>
    <td><%= bike.wheel_size %></td>
    <td><%= bike.top_tube %></td>
    <td><%= bike.seat_tube %></td>
    <td><%= bike.color %></td>
    <td><%= bike.date_in.year %>-<%= bike.date_in.strftime("%b")%>-<%=bike.date_in.day %></td>
    <td><%= bike.status %></td>
    <td width="50px" align="center">
			<% if bike.image1? %>
				<%= link_to image_tag(bike.image1.url(:tiny)), bike %>
			<% elsif bike.image2? %>
				<%= link_to image_tag(bike.image2.url(:tiny)), bike %>
			<% else %>
				<%= link_to image_tag("/images/missing_thumb.png"), bike %>
			<% end %>
		</td>

  </tr>
<% @count = @count + 1%>
<% end %>
</tbody>
</table>

</td></tr></table>
<br/>

<%= will_paginate @bikes %>
<br/>
