<script>
function update(box)
{
	var lists = new Array();
	<% if !@models.nil?%>
		<% for i in @models%>
			if(document.newbikeform['bike[brand_id]'].value == <%=i.brand_id%>){
				lists.push(new Array('<%=i.name %>', <%= i.id %>));
			}
		<%end%>
	<%end%>
	emptyList( box['bike[model_id]'] );
	for ( i = 0; i < lists.length; i++ ) {
		option = new Option(lists[i][0], lists[i][1]);
		box['bike[model_id]'].options[i] = option;
	}
	
	if(box['bike[model_id]'].options.length==0){
		box['bike[model_id]'].options[0] = new Option("Choose a model");
	}
}

function emptyList( box ) {
	while ( box.options.length ) box.options[0] = null;
}
</script>
<div id="dhtmltooltip"></div>
<script type="text/javascript">

var offsetxpoint=-60 //Customize x offset of tooltip
var offsetypoint=20 //Customize y offset of tooltip
var ie=document.all
var ns6=document.getElementById && !document.all
var enabletip=false
if (ie||ns6)
var tipobj=document.all? document.all["dhtmltooltip"] : document.getElementById? document.getElementById("dhtmltooltip") : ""

function ietruebody(){
return (document.compatMode && document.compatMode!="BackCompat")? document.documentElement : document.body
}

function ddrivetip(thetext, thecolor, thewidth){
if (ns6||ie){
if (typeof thewidth!="undefined") tipobj.style.width=thewidth+"px"
if (typeof thecolor!="undefined" && thecolor!="") tipobj.style.backgroundColor=thecolor
tipobj.innerHTML=thetext
enabletip=true
return false
}
}

function positiontip(e){
if (enabletip){
var curX=(ns6)?e.pageX : event.clientX+ietruebody().scrollLeft;
var curY=(ns6)?e.pageY : event.clientY+ietruebody().scrollTop;
//Find out how close the mouse is to the corner of the window
var rightedge=ie&&!window.opera? ietruebody().clientWidth-event.clientX-offsetxpoint : window.innerWidth-e.clientX-offsetxpoint-20
var bottomedge=ie&&!window.opera? ietruebody().clientHeight-event.clientY-offsetypoint : window.innerHeight-e.clientY-offsetypoint-20

var leftedge=(offsetxpoint<0)? offsetxpoint*(-1) : -1000

//if the horizontal distance isn't enough to accomodate the width of the context menu
if (rightedge<tipobj.offsetWidth)
//move the horizontal position of the menu to the left by it's width
tipobj.style.left=ie? ietruebody().scrollLeft+event.clientX-tipobj.offsetWidth+"px" : window.pageXOffset+e.clientX-tipobj.offsetWidth+"px"
else if (curX<leftedge)
tipobj.style.left="5px"
else
//position the horizontal position of the menu where the mouse is positioned
tipobj.style.left=curX+offsetxpoint+"px"

//same concept with the vertical position
if (bottomedge<tipobj.offsetHeight)
tipobj.style.top=ie? ietruebody().scrollTop+event.clientY-tipobj.offsetHeight-offsetypoint+"px" : window.pageYOffset+e.clientY-tipobj.offsetHeight-offsetypoint+"px"
else
tipobj.style.top=curY+offsetypoint+"px"
tipobj.style.visibility="visible"
}
}

function hideddrivetip(){
if (ns6||ie){
enabletip=false
tipobj.style.visibility="hidden"
tipobj.style.left="-1000px"
tipobj.style.backgroundColor=''
tipobj.style.width=''
}
}

document.onmousemove=positiontip

</script>
<script>
function addInput(divName){

     if (document.getElementsByName('brandcheck')[0].checked ==true)  {
		//add text box
          var newdiv = document.createElement('div');
          newdiv.innerHTML = " <br/><input type='text' id='tempbrand' name='tempbrand' placeholder='Brand Name' />";
          document.getElementById(divName).appendChild(newdiv);
		  emptyList( document.forms['newbikeform']['bike[model_id]'] );
		  document.forms['newbikeform']['bike[model_id]'].options[0] = new Option("Enter a new model");
     }
	 else{
		//remove the text box	
		child=document.getElementById(divName).childNodes[0];		
		document.getElementById(divName).removeChild(child);
	 }
}

function addInput2(divName){
	
     if (document.getElementsByName('modelcheck')[0].checked ==true)  {
          var newdiv = document.createElement('div');
          newdiv.innerHTML = " <br/><input type='text' id='tempmodel' name='tempmodel' placeholder='Model Name' />";
          document.getElementById(divName).appendChild(newdiv);
     }
	 else{
		//remove the text box			
		child=document.getElementById(divName).childNodes[0];		
		document.getElementById(divName).removeChild(child);
	 }
}

function defaultLocation(){	
	if (document.getElementById('location_id').value == null || document.getElementById('location_id').value == ""){
		//if Hook No is left empty, do nothing
	}
	else{
	document.getElementById('locname').options[0].selected = true;
	}
}

function clearHookField(){
	if(document.getElementById('locname').value != "On hook - enter above"){
		document.getElementById('location_id').value = "";
	}
}

function isNumberKey(evt)
{
 var charCode = (evt.which) ? evt.which : event.keyCode
 if (charCode > 31 && (charCode < 48 || charCode > 57))
	return false;

 return true;
}
</script>  

<h1 align="center">Add New Bike</h1>

<%= form_for(@bike,:html => {:name => 'newbikeform'}) do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% @bike.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
<table border="1" id="maininfo" style="min-width=800px;">
<tr height="80px">
<td width="50%">
	<p onMouseover="ddrivetip('Type in the bike ID as printed on the sticker. Hook number corresponds to the hooks in the shop','yellow', 120)"; onMouseout="hideddrivetip()">
	1a. Enter Bike ID and Hook Number:</p>
	<table border="1" id="IDhook">
	<tr>
		<td >
			<b><div onMouseover="ddrivetip('ID of the bike','yellow', 50)"; onMouseout="hideddrivetip()"><%= f.label :bike_id, "ID"%></div></b></td><td>
			<b>			    
		<input id="bike_id" name="bike[bike_id]" size="10" type="number" value="<%=@bike.bike_id%>" onkeypress="return isNumberKey(event)"/>			
		</td>
	</tr>
	<tr>
		<td>
			<b><div onMouseover="ddrivetip('Input Hook Number or Physical Location (E.g. Off-site)','yellow', 80)"; onMouseout="hideddrivetip()">
			Hook No.</div></b></td><td>
			<%@currloc = Location.find_by_id(@bike.location_id)%>
			<input id="location_id" name="bike[location_id]" size="10" type="text" 
			value="<%if !@currloc.nil?%><%=@currloc.hook_number%><%end%>" placeholder="NA" onchange="defaultLocation()" onkeypress="return isNumberKey(event)"/>		    

		</td>
	</tr>
	</table>
	<p onMouseover="ddrivetip('Leave this field unchanged if the bike has a hook. Only choose a value here if it is left in the shop without a hook number or on a off-site location.','yellow', 180)"; onMouseout="hideddrivetip()">
	1b.	OR select location name(if not on hook):<br/></p>
	<center><select id="locname" name="locname" onchange="clearHookField()">
	<option value="">On hook - enter above</option>
	<% for i in Location.all%>
		<%if !i.name.nil?%>
			<option value="<%=i.id%>" <%if !@locname.nil? && @locname==i.id.to_s()%>selected="selected"<%end%>><%=i.name%></option>
		<%end%>
	<%end%>
	</select>
	<br/></center>
	<br/>
	<p onMouseover="ddrivetip('The date and time are auto-populated according to the current time. Adjust accordingly.','yellow', 120)"; onMouseout="hideddrivetip()">
	2. Enter the date and time of arrival:</p>
	<b onMouseover="ddrivetip('Date that bike arrived at Free Ride','yellow', 80)"; onMouseout="hideddrivetip()">
	<%= f.label :date_in %></b>
    
    <%= f.datetime_select :date_in %><br/><br/>
	<p>3. Select Model and Brand: </p>
	<table border="0" cellpadding="3" id="bikeTable">	
		<tr>
		<td>
		  <b onMouseover="ddrivetip('Brand of the bike. Check below add a new brand if not found in the list ','yellow', 150)"; onMouseout="hideddrivetip()">
		  <%= f.label :brand_id %></b></td><td>
		<select id="bike_brand_id" name="bike[brand_id]" onchange="update(document.forms['newbikeform']);">
		<option value="">Select a Brand</option>
		<%for i in BikeBrand.all%>
		<option value="<%=i.id%>" <%if @bike.brand_id==i.id%>selected="selected"<%end%>><%=i.name%></option>
		<%end%>
		</select>
		
		<div id="dynamicInput"></div>
		<input type="checkbox" name="brandcheck" onchange="addInput('dynamicInput');"/>New brand<br/>
				
		</td>
		<td>
	
		<b onMouseover="ddrivetip('Model of bike(choose a brand to see the list of models)','yellow', 150)"; onMouseout="hideddrivetip()"><%= f.label :model_id %></b></td><td>
		<select name="bike[model_id]">
		<option>Select a Model</option>	
		<%for i in BikeModel.where(:brand_id => @bike.brand_id)%>
			<option value="<%=i.id%>" <%if i.id==@bike.model_id%>selected="selected"<%end%>><%=i.name%></option>
		<%end%>		
		</select>	
		
		<div id="dynamicInput2"></div>
		<input type="checkbox" name="modelcheck" onchange="addInput2('dynamicInput2');"/>New model<br/>
		
		</td>
		</tr>
	</table>
</td>
<td>
	<p>&nbsp;4. Fill in bike details as below: </p>
		<table border="1" cellpadding="3" id="bikeTable">
		<tr>
		<td>

		  <b onMouseover="ddrivetip('<%=Bike.wheelTooltip%>','#66FF33', 300)"; onMouseout="hideddrivetip()">
		  <%= f.label :wheel_size %></b></td><td>
   
    <%= f.text_field :wheel_size %>

		</td>
		<td>

		  <b onMouseover="ddrivetip('Tube size in ISO format','#66FF33', 80)"; onMouseout="hideddrivetip()">
		  <%= f.label :top_tube %></b></td><td>
    
    <%= f.text_field :top_tube %>

		</td>
		</tr>

		<tr>
		<td>

		  <b onMouseover="ddrivetip('Seat tube in ISO format','yellow', 80)"; onMouseout="hideddrivetip()">
		  <%= f.label :seat_tube %></b></td><td>
    
    <%= f.text_field :seat_tube %>

		</td>
		<td>

		  <b onMouseover="ddrivetip('Color of bicycle frame','yellow', 80)"; onMouseout="hideddrivetip()">
		  <%= f.label :color %></b></td><td>

    
    <%= f.text_field :color %>
		</td>

		</tr>

		<tr>

		</tr>
		</table>
		<br/>
		<p>&nbsp;5. Select the condition and quality of the bike: </p>
		<table border="0">
		<tr><td>		
		
		<b onMouseover="ddrivetip('<%=BikeAssesment.conditionTooltip%>','yellow', 600)"; onMouseout="hideddrivetip()">
		Condition:</b></td><td>
		  <select id="condition" name="condition">
		  <option value="A" <%if !@c.nil? && @c=="A"%>selected="selected"<%end%>>A</option>
		  <option value="B" <%if !@c.nil? && @c=="B"%>selected="selected"<%end%>>B</option>
		  <option value="C" <%if !@c.nil? && @c=="C"%>selected="selected"<%elsif @c.nil?%>selected="selected"<%end%>>C</option>
		  <option value="D" <%if !@c.nil? && @c=="D"%>selected="selected"<%end%>>D</option>
		</select></td>	
		</tr>
		<tr>
		<td>		
		 <b onMouseover="ddrivetip('<%=BikeAssesment.qualityTooltip%>','yellow', 600)"; onMouseout="hideddrivetip()">
		 Quality:</b></td><td>
		  <select id="quality" name="quality">
		  <option value="A" <%if !@q.nil? && @q=="A"%>selected="selected"<%end%>>A</option>
		  <option value="B" <%if !@q.nil? && @q=="B"%>selected="selected"<%end%>>B</option>
		  <option value="C" <%if !@q.nil? && @q=="C"%>selected="selected"<%elsif @q.nil?%>selected="selected"<%end%>>C</option>
		  <option value="D" <%if !@q.nil? && @q=="D"%>selected="selected"<%end%>>D</option>
		</select></td>
		
		</tr>
		</table><br/>
	<p onMouseover="ddrivetip('Leave empty if unsure.','yellow', 80)"; onMouseout="hideddrivetip()">
	&nbsp;6. Estimate the AS-IS value of the bike:
	</p><center>
		  <b onMouseover="ddrivetip('<%=BikeAssesment.priceTooltip%>','yellow', 500)"; onMouseout="hideddrivetip()">
		  AS-IS Value:</b>
		  $ <input id="value" name="value" size="6" type="number" placeholder="0.00" <%if !@v.nil?%>value="<%=@v%>"<%end%>/></center><br/>
		
</td>

</tr>
</table>

	
<table>
	<tr>
		<td width="300px">
			<b>Bike Image 1:</b> <i>(optional)</i>
			<%= f.file_field :image1 %>
			<br/>
			<b>Bike Image 2:</b> <i>(optional)</i>
			<%= f.file_field :image2 %>
		</td>
		<td width="200px">
		</td>
		<td width="300px">
			<br/>
			<div align="center" class="actions">
				<input type="submit" name="submit" value="Add Bike" /> 
				<br/><br/>
				<input type="submit" name="submit" value="Add Bike & Add Another New Bike" />  
			</div>
		</td>
	</tr>
</table>  
<% end %>
