<style>
#bikelisttable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

#bikelisttable th .asc {
	background-color: yellow;
	background: url(/images/uparrow.JPG) no-repeat right;
}

#bikelisttable th .desc {
	background-color: yellow;
	background: url(/images/downarrow.JPG) no-repeat right;	
}

#bikelisttable  {
	width: 100%;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
}

#bikelisttable thead th {
	
	font-size: 13px;
	height: 30px;
	color: #FFFFFF;
	font-weight: bolder;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: left;
	border-right: 1px solid #FCF1D4;
}
#bikelisttable tbody tr {
	background: url(/images/bg_td1.jpg) repeat-x top;
}
#bikelisttable tbody tr.odd {
	background: #FFF8E8 url(/images/bg_td2.jpg) repeat-x;
}

#bikelisttable tbody td {
	font-family: Arial, Helvetica, sans-serif;
	color: #565051;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: left;
}

</style>
<script>
function filter2 (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
	        var displayStyle = 'none';
	        for (var i = 0; i < words.length; i++) {
		    if (ele.toLowerCase().indexOf(words[i])>=0)
			displayStyle = '';
		    else {
			displayStyle = 'none';
			break;
		    }
	        }
		table.rows[r].style.display = displayStyle;
	}
}
</script>
<h2>Reports</h2><br/>
<form id="report" name="report" action="/bikes/reports" type="POST">

Report Type:
<select name="reportType">
<option value="Inactive Bikes">Inactive Bikes</option>
<option value="Inactive EABs">Inactive EABs</option>
</select>&nbsp;&nbsp;

Inactive For:
<select name="inactiveFor">
<option value="3">3 months</option>
<option value="6">6 months</option>
<option value="9">9 months</option>
<option value="12">12 or more months</option>
</select>

<input type="submit" value="Go"/><br/><br/>
</form>
<% if @typeEAB.nil?
@typeEAB = false
end%>
<%if !@reportType.nil?%>
Showing report for: <b><%=@reportType%></b>
<%end%>&nbsp;&nbsp;
<%if !@inactiveFor.nil?%>
Inactive Period: <b><%=@inactiveFor%> months</b>
<%end%><br/><br/>

<%if !@bikes.nil?%>
<table id="bikelisttable" class="filtertable">
  <thead><tr>
		<th><a>ID</a></th>
    <th><a>Brand</a></th>		
    <th><a>Model</a></th>
    <th><a>Location</a></th>
    <th><a>Date In</a></th>
    <th><a>Status</a></th>
	<th><%if @typeEAB%><a>EAB Last Active</a><%else%><a>Last Updated</a><%end%></th>
	<th></th>
  </tr></thead><tbody>

<% @count = 0%>
<% @bikes.each do |bike| %>
<% @loc = Location.find_by_id(bike.location_id)%>

  <tr <% if @count % 2 ==0%>class="odd"<%end%> >
		<td><%= bike.bike_id %></td>
    <td><%= BikeBrand.find_by_id(bike.brand_id).name%></td>
	<td><%= BikeModel.find_by_id(bike.model_id).name %></td>
    <td><%if @loc.nil?%>
			N.A.
		<%else%>
			<%if @loc.hook_number.nil?%>
				<%=@loc.name%>
			<%else%>
				HookID - <%=@loc.hook_number%>
			<%end%>
		<%end%>			
	</td>
    <td><%= bike.date_in.year %>-<%= bike.date_in.strftime("%b")%>-<%=bike.date_in.day %></td>
    <td><%= bike.status %></td>
	<td><%if @typeEAB
			@project = EabProject.find_by_bike_id(bike.id)
			if !@project.nil?%>
				<%= @project.start_date.year%>-<%=@project.start_date.strftime("%b")%>-<%=@project.start_date.day%>
			<%end%>
		<%else%>
			<%= bike.updated_at.year%>-<%= bike.updated_at.strftime("%b")%>-<%=bike.updated_at.day%>
		<%end%></td>
    <td><%= link_to 'View', bike %></td>

  </tr>
<% @count = @count + 1%>
<% end %>
</tbody>
</table>
<%end%>
<br/>

<br/>
