<p id="notice"><%= notice %></p>
<% 
@isDeparted = false
@hasProj = false
@sColor = "Sother" 
if @bike.status.casecmp("EAB in progress")==0 || @bike.status.casecmp("FFS in progress") ==0
	@sColor = "Seab"
	@hasProj = true
elsif @bike.status.casecmp("Sold") ==0 || @bike.status.casecmp("Departed") ==0
	@sColor = "Ssold"
	@isDeparted = true
elsif @bike.status.casecmp("Available") ==0
	@sColor = "Savaliable"
else
	@sColor = "Sother"
end
%>
<% @loc = Location.find_by_id(@bike.location_id)%>
<table id="statusTable" width="750px"><tr>
	<td width="200px"><h1>Bike Info</h1></td>
<td width="300px">	
	<table>
		<tr>
			<td align="center"><b>Image 1:</b></td>
			<td align="center"><b>Image 2:</b></td></tr>
			<tr><td>
				<%= image_tag @bike.image1.url(:small) %>
			</td><td>
				<%= image_tag @bike.image2.url(:small) %>
			</td>
		</tr>
	</table>
	</td>	
	<td align="right"><span id="<%=@sColor%>" style="padding: 5px;"> Status: <%=@bike.status%></span></td></tr>

</table>

<div class="floatright">
<%if !@isDeparted and !@hasProj %>
<form name="addtoFav" action = "/favorites" method = "post">
<input type="hidden" name="bike_id" value="<%=@bike.id%>" />
<input type="hidden" name="user_id" value="<%=@current_user.id%>" />
<input type="submit" value="Add to Fav"></form>
<%end%>
</div>

<table border="0" id="maininfo">
<tr height="80px">
<td>
	<table border="1" id="IDhook">
	<tr>
		<td >
			<b>ID:</b></td><td>
			<%= @bike.bike_id %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Hook:</b></td><td>
			<%if @loc.nil?%>
			N.A.
			<%elsif @loc.hook_number.nil?%>
			<font size="2">Not on Hook</font>
			<%else%>
			<%=@loc.hook_number%>
			<%end%>
		</td>
	</tr>
	</table>
</td>
<td>
		<table border="0" cellpadding="3" id="bikeTable">
		<tr>
		<td>

		  <b>Mfgr/Brand:</b></td><td>
		  <% 
		  @bike_brand = BikeBrand.find(@bike.brand_id)
		  %>
		  <%= @bike_brand.name %>

		</td>
		<td>

		  <b>Model:</b></td><td>
		   <% 
		  @bike_model = BikeModel.find(@bike.model_id)
		  %>
		  <%= @bike_model.name %>

		</td>
		<td>

		  <b>Condition:</b></td><td>
		   <% 
		  @bikeA = BikeAssesment.find_by_bike_id(@bike.id)
		  @condition = "N.A."
		  @quality = "N.A."
		  @value = "N.A."
		  if !@bikeA.nil?
			@condition = @bikeA.condition
			@quality = @bikeA.quality
			@value = @bikeA.value
		  end
		  %>
		  <%= @condition %>
		</td>
		
		</tr>

		<tr>
		<td>

		  <b>Wheel size:</b></td><td>
		  <%= @bike.wheel_size %>

		</td>
		<td>

		  <b>Top tube:</b></td><td>
		  <%= @bike.top_tube %>

		</td>
		
		<td>

		  <b>Quality:</b></td><td>
		  <%= @quality %>

		</td>
		</tr>

		<tr>
		<td>

		  <b>Seat tube:</b></td><td>
		  <%= @bike.seat_tube %>

		</td>
		<td>

		  <b>Color:</b></td><td>
		  <%= @bike.color %>

		</td>
		<td>

		  <b>Value:</b></td><td>
		  $<%= @value %>

		</td>
		</tr>

		<tr>

		</tr>
		</table>
</td>
<td align='right'>
	<table>
	<tr>
		<td>
		  <b>Date Arrived:</b>
		  <%= @bike.date_in.year %>-<%= @bike.date_in.strftime("%b") %>-<%= @bike.date_in.day %> 
		</td>
		</tr>
		<tr>
		<td align='right'>
		  <b>Date Departed:</b>
			<% unless @bike.date_out.nil? %>
		    <%= @bike.date_out.year %>-<%= @bike.date_out.strftime("%b") %>-<%= @bike.date_out.day %>
			<% end %>
		</td>
		</tr>
	</table>
</td>
</tr>
<tr>

<td style="border:solid 2px #060" colspan="2"><h2>Projects</h2>
	<table border="0" id="projects">
	<tr id="headers">
	<td>Project Type</td><td>User</td><td>Date Started</td><td>Status</td>
	</tr>	
	<% for project in EabProject.where(:bike_id => @bike.id) %>
	<tr>
	<% @projuser = User.find_by_id(project.user_id) %>
	<td>EAB</td><td><%= link_to @projuser.name, @projuser %></td><td>
	<%=project.start_date.year%>-<%= project.start_date.strftime("%b") %>-<%= project.start_date.day %></td><td><%= project.status%></td><td><%= link_to "View Project", project %></td>
	</tr>
	<% end %>
	</table>
</td>
<td style="border:solid 2px #060" rowspan="2"><h2>Notes	<% if current_user.is_staff? %>
	<font size="1"><a href ="/notes/new?bikeid=<%=@bike.id%>">(New note)</a></font><%end%></h2>

	<table border="0" id="notes">
	<tr id="headers">
	<td>Title</td><td>Date</td></tr>	
	<%for i in Note.where(:bike_id => @bike.id)%>
	<tr>
		<td><a href = "/notes/<%=i.id%>"><%=i.title%></a></td>
		<td><%=i.last_update.year%>-<%= i.last_update.strftime("%b") %>-<%= i.last_update.day %></td>
	</tr>
	<%end%>
	
	</table>
	

</td>

</tr>
<tr>
<td style="border:solid 2px #060" colspan="2"><h2>Location History</h2>


	<table border="0" id="history">
	<tr id="headers">
	<td>Location</td><td>Last date at location</td>
	</tr>	
	<%for i in LocationHistory.where(:bike_id => @bike)%>
	<tr>
		<td><%=i.location_name%></td>
		<%@lastdate = i.last_date_at_location%>
		<td><%=@lastdate.to_formatted_s(:long) %></td>
	</tr>
	<%end%>
	<tr>
	    <td>
		<%if @loc.nil?%>
		N.A.		
		<%elsif @loc.hook_number.nil?%>
			<%=@loc.name%>
		<%else%>
			HookID - <%=@loc.hook_number%>
		<%end%></td>
		<td>
		<%if @loc.nil?%>
			N.A.
		<%else%>
			Current Location
		<%end%>
		</td>
	</tr>
	</table>
</td>
</tr>
</table>

<% if current_user.is_staff? %>
<div align="right">
<%if !@isDeparted and !@hasProj %>
	<a href="/eab_projects/new?bike_id=<%=@bike.id%>">Start EAB Project</a> |

<%end%>
<%= link_to "New Safety Inspection", new_safety_inspection_path(:bike_id => @bike.id) %> | 
<a href="/favorites?bike_id=<%=@bike.id%>">View Favs</a> |
<%= link_to 'Edit Info', edit_bike_path(@bike) %>
</div>
<% end %>
