<p id="notice"><%= notice %></p>

<p>
  <b>BikeID:</b>
  <%= @bike.bike_id %>
</p>

<p>
  <b>Model:</b>
  <%= @bike.model_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @bike.brand_id %>
</p>

<p>
  <b>Location:</b>
  <%= @bike.location_id %>
</p>

<p>
  <b>Wheel size:</b>
  <%= @bike.wheel_size %>
</p>

<p>
  <b>Top tube:</b>
  <%= @bike.top_tube %>
</p>

<p>
  <b>Seat tube:</b>
  <%= @bike.seat_tube %>
</p>

<p>
  <b>Color:</b>
  <%= @bike.color %>
</p>

<p>
  <b>Quality:</b>
  <%= @bike.quality %>
</p>

<p>
  <b>Condition: </b>
  <%= @bike.condition %>
</p>

<p>
  <b>Status:</b>
  <%= @bike.status %>
</p>

<p>
  <b>Date In:</b>
  <%= @bike.date_in %>
</p>

<p>
  <b>Date Out:</b>
  <%= @bike.date_out %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
