<p id="notice"><%= notice %></p>
<h1>Bike Profile </h1>
<table border="0" id="maininfo">
<tr>
<td>
<b>ID:</b>
  <%= @bike.id %>
</td>
</tr>
</tr>
<td>
  <b>Hook:</b>
  <%= @bike.location_id %>
</td>
<td align='right'>
  <b>Date Arrived:</b>
  <%= @bike.date_in.year %>/<%= @bike.date_in.month %>/<%= @bike.date_in.day %> 
</td>
<tr>
<td colspan='2' align='right'>
  <b>Date Departed:</b>
	<% unless @bike.date_out.nil? %>
  <%= @bike.date_out.year %>/<%= @bike.date_out.month %>/<%= @bike.date_out.day %> 
	<% end %>
</td>
 </tr>
</table> 

<table border="1" id="bikeTable">
<tr>
<td>
<p>
  <b>Mfgr/Brand:</b>
  <% 
  @bike_brand = BikeBrand.find(@bike.brand_id)
  %>
  <%= @bike_brand.name %>
</p>
</td>
<td>
<p>
  <b>Model:</b>
   <% 
  @bike_model = BikeModel.find(@bike.model_id)
  %>
  <%= @bike_model.name %>
</p>
</td>
</tr>

<tr>
<td>
<p>
  <b>Wheel size:</b>
  <%= @bike.wheel_size %>
</p>
</td>
<td>
<p>
  <b>Top tube:</b>
  <%= @bike.top_tube %>
</p>
</td>
</tr>

<tr>
<td>
<p>
  <b>Seat tube:</b>
  <%= @bike.seat_tube %>
</p>
</td>
<td>
<p>
  <b>Color:</b>
  <%= @bike.color %>
</p>
</td>
</tr>

<tr>

</tr>
</table>
<br/>
<br/>
<a href="#">View history log</a> | <a href="#">Add to favorites</a> | <a href="#">Start EAB Project</a> |

<%= link_to 'Edit Info', edit_bike_path(@bike) %>
