<%= form_for(@volunteer_hours_entry) do |f| %>
  <% if @volunteer_hours_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_hours_entry.errors.count, "error") %> prohibited this volunteer_hours_entry from being saved:</h2>

      <ul>
      <% @volunteer_hours_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  Updating volunteer hours for: <b><%=@current_user.name%></b>	
  <div class="field">
    <br />
    <input type="hidden" name="volunteer_hours_entry[user_id]" value="<%=@current_user.id%>"/>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= hidden_field_tag(:user_id, @user_id) %>
<% end %>