<h1>Listing volunteer_hours_entries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteer_hours_entries.each do |volunteer_hours_entry| %>
  <tr>
    <td><%= volunteer_hours_entry.user_id %></td>
    <td><%= volunteer_hours_entry.start_time %></td>
    <td><%= volunteer_hours_entry.end_time %></td>
    <td><%= link_to 'Show', volunteer_hours_entry %></td>
    <td><%= link_to 'Destroy', volunteer_hours_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer hours entry', new_volunteer_hours_entry_path %>
