<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @volunteer_hours_entry.user_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @volunteer_hours_entry.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @volunteer_hours_entry.end_time %>
</p>


<%= link_to 'Edit', edit_volunteer_hours_entry_path(@volunteer_hours_entry) %> |
<%= link_to 'Back', volunteer_hours_entries_path %>
