<%= form_for(@repair_hours_entry) do |f| %>
  <% if @repair_hours_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_hours_entry.errors.count, "error") %> prohibited this repair_hours_entry from being saved:</h2>

      <ul>
      <% @repair_hours_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Updating repair hours for: <b><%= link_to current_user.name, current_user %></b>	
  <div class="field">
    <br />
    <input type="hidden" name="repair_hours_entry[user_id]" value="<%=@current_user.id%>"/>
  </div>
  Bike ID: <b><%= link_to @bike.sticker_id, @bike %></b>	
  <div class="field">
    <br />
    <input type="hidden" name="repair_hours_entry[bike_id]" value="<%=@bike.id%>"/>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :class=> "datetimepicker" %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time, :class=> "datetimepicker" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 30, :rows => 5 %>
  </div>
  <%= hidden_field_tag :eab, params[:eab] %>
  <div class="actions">
    <%= f.submit "Create Repair Hours Entry" %>
  </div>
<% end %>
