<h1>Listing repair_hours_entries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Bike</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repair_hours_entries.each do |repair_hours_entry| %>
  <tr>
    <td><%= repair_hours_entry.user_id %></td>
    <td><%= repair_hours_entry.bike_id %></td>
    <td><%= repair_hours_entry.start_time %></td>
    <td><%= repair_hours_entry.end_time %></td>
    <td><%= link_to 'Show', repair_hours_entry %></td>
    <td><%= link_to 'Edit', edit_repair_hours_entry_path(repair_hours_entry) %></td>
    <td><%= link_to 'Destroy', repair_hours_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repair hours entry', new_repair_hours_entry_path %>
