

<p>
  <b>User Name:</b>
  <%= @repair_hours_entry.user.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @repair_hours_entry.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @repair_hours_entry.end_time %>
</p>

<p>
	<b>Description:</b>
	<%= @repair_hours_entry.description %>
</p>


<%= link_to 'Back to EAB Project', @repair_hours_entry.eab_project %> |
<%= link_to 'Back to Bike', @repair_hours_entry.bike %>