<p id="notice"><%= notice %></p>

<p>
  <b>User ID:</b>
  <%= @repair_hours_entry.user_id %>
</p>

<p>
  <b>User Name:</b>
  <%= User.find_by_id(@repair_hours_entry.user_id).name %>
</p>

<p>
  <b>Start time:</b>
  <%= @repair_hours_entry.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @repair_hours_entry.end_time %>
</p>


<%= link_to 'Edit', edit_repair_hours_entry_path(@repair_hours_entry) %> |
<%= link_to 'Back', :back %>
