<% # subnav variable holds the Object passed to this partial %>
<% # which is the controller name ("page" variable from the %>
<% # application.html.erb layout file) %>

<% if subnav=="bikes" || subnav=="search" %>

	<li><%= link_to "Search Bikes", search_path %></li>
	<li><%= link_to "Browse Bikes", bikes_path %></li>
	<li><%= link_to "Add Bike", new_bike_path %></li>	
	
<% elsif subnav=="home" %>
	
	<% if current_user %>
		<li><%= link_to "My Dashboard", dashboard_path %></li>
	<% else %>
		<li><%= link_to "Login", root_path %></li>
		<li><%= link_to "Signup", signup_path %></li>
		<li><%= link_to "About", root_path %></li>
		<li><%= link_to "Contact", root_path %></li>
	<% end %>
	
<% elsif subnav=="users" %>

	<% if current_user %>
		<li><%= link_to "Browse Users", users_path %></li>
	<% else %>
		<li><%= link_to "Login", root_path %></li>
		<li><%= link_to "Signup", signup_path %></li>
	<% end %>

<% else %>	

<li><a href=""><%= subnav.capitalize %> Sublink 1</a></li>
<li><a href=""><%= subnav.capitalize %> Sublink 2</a></li>
<li><a href=""><%= subnav.capitalize %> Sublink 3</a></li>	

<% end %>