<% # subnav variable holds the Object passed to this partial %>
<% # which is the controller name ("page" variable from the %>
<% # application.html.erb layout file) %>

<% if subnav=="bikes" || subnav=="search" || subnav=="safety_inspections" %>

	<li><%= link_to "Search Bikes", search_path %></li>
	<li><%= link_to "Browse Bikes", bikes_path %></li>
	<% if current_user.is_staff? %>
	<li><%= link_to "Add New Bike", new_bike_path %></li>
	<li><%= link_to "Reports", reports_path %></li>
	<%end%>
	
<% elsif subnav=="home" || subnav=="favorites" %>
	
	<% if current_user %>
		<li><%= link_to "My Dashboard", dashboard_path %></li>
		<li><%= link_to "My Favorites", myfav_path %></li>
	<% else %>
		<li><%= link_to "Login", root_path %></li>
		<li><%= link_to "Signup", signup_path %></li>
		<li><%= link_to "About Free Ride", "http://freeridepgh.org/" %></li>
	<% end %>
	
<% elsif subnav=="users" || subnav=="transactions" %>

	<% if current_user %>
		<li><%= link_to "My Profile", user_path(current_user) %></li>
		<% if current_user.is_staff? %>
				<li><%= link_to "Browse Users", users_path %></li>
		<% end %>
		<li><%= link_to "Transfer Account Balance", new_transaction_path %></li>
		<% if current_user.is_council? %>
		<li><%= link_to "All Transactions", transactions_path %>
		<% end %>
	<% else %>
		<li><%= link_to "Login", root_path %></li>
		<li><%= link_to "Signup", signup_path %></li>
		<li><%= link_to "About Free Ride", "http://freeridepgh.org/" %></li>
	<% end %>
	
<% elsif subnav=="eab_projects" %>
		<% if current_user.is_staff? %>
		<li><%= link_to "All Projects", eab_projects_path %></li>
		<% end %>
		<li><%= link_to "My Projects", myproj_path %></li>
		
<% elsif subnav=="volunteer_hours_entries" || subnav=="repair_hours_entries" %>

		<li><%= link_to "View Hours Log", myhours_path %></li>
		<li><%= link_to "Record Volunteer Hours", new_volunteer_hours_entry_path %></li>
		<li><%= link_to "Record Repair Hours", new_repair_hours_entry_path %></li>	

<% end %>