<% page = controller.controller_name %>

<!DOCTYPE html>
<html> 
<head>
  <title>Free Ride</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="wrapper">
	<div id="header">	
				<h1 align="center"><%= link_to "Free Ride", root_path %></h1>

		<div id="personal_welcome">
			<ul>
				<% if current_user %>
					<a href="<%= logout_path %>">
						<li>Logout</li>
					</a>
					<a href="<%= user_path(current_user) %>">
						<li>
							<%= "Welcome, #{current_user.first_name}" %>
						</li>
					</a>
				<% else %>
					<a href="<%= signup_path %>">
						<li>Signup</li>
					</a>
					<a href="<%= root_path %>">
						<li>Login</li>
					</a>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="container">
		<div id="navigation">
			<ul>
				
				<% if current_user && current_user.role != 0 %>
				<li><%= link_to "Home", root_path, :class => (page == "home" ? "selected" : "") %></li>
				<li><%= link_to "Bikes", search_path, :class => ((page == "bikes" || page=="search" || page=="safety_inspections") ? "selected" : "") %></li>
				<li><%= link_to "EAB Projects", eab_projects_path, :class => (page == "eab_projects" ? "selected" : "") %></li>
				<li><%= link_to "Hours", volunteer_hours_entries_path, :class => ((page == "repair_hours_entries" || page == "volunteer_hours_entries") ? "selected" : "") %></li>
				<li><%= link_to "Users", users_path, :class => (page == "users" ? "selected" : "") %></li>
				<% else %>
				<li><%= link_to "Home", root_path, :class => ((page == "home" || page=="users") ? "selected" : "") %></li>
				<li><%= link_to "Bikes", search_path, :class => ((page == "bikes" || page=="search" || page=="safety_inspections") ? "selected" : "") %></li>
				<% end %>
			</ul>
		</div>
		<div id="subnav">
			<ul>
				<%= render(partial: "layouts/subnav", object: page) %>
			</ul>
		</div>
		<div id="divider"></div>
		<div id="content">
			<table align="center"><tr><td>
				<% [:alert, :error, :notice].each do |key| %>
					<% if flash[key] %>
						<div align="center" id="flash_<%= key %>">
							<%= flash[key] %>
						</div>
					<% end %>
				<% end %>
				
				<%= yield %>
			</td></tr></table>
		</div>
	</div>
	<div id="footer">
		<p align="center">Copyright &copy; <%= Time.now.year %> 
			<%= link_to "Free Ride Pittsburgh", "http://freeridepgh.org" %>, 
			a project of <%= link_to "Bike Pittsburgh", "http://bikepgh.org/" %>.
		</p>
	</div>
</div>

</body>
</html>
